body {
    margin: 1em;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
    border-style: inset;
}

label {
    display: inline-block;
    min-width: 4em;
    min-height: 1.5em;
}

input {
    vertical-align: middle;
    min-width: 28em;
    min-height: 1.5em;
}

.footer {
    margin-top: 2em;
}

h1 {
    background-color: lightblue;
    color: darkred;
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
}

label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}